.fx-row,
.fx-col,
.fx-row-rvs,
.fx-col-rvs {
  display: flex; }

.fx-row {
  flex-direction: row; }

.fx-col {
  flex-direction: column; }

.fx-row-rvs {
  flex-direction: row-reverse; }

.fx-col-rvs {
  flex-direction: column-reverse; }

.fx-wrap-no {
  flex-wrap: nowrap; }

.fx-center-center {
  justify-content: center;
  align-items: center; }

.fx-center-start {
  justify-content: center;
  align-items: flex-start; }

.fx-center-end {
  justify-content: center;
  align-items: flex-end; }

.fx-center-stretch {
  justify-content: center;
  align-items: stretch; }

.fx-center-baseline {
  justify-content: center;
  align-items: baseline; }

.fx-end-center {
  justify-content: flex-end;
  align-items: center; }

.fx-end-start {
  justify-content: flex-end;
  align-items: flex-start; }

.fx-end-end {
  justify-content: flex-end;
  align-items: flex-end; }

.fx-end-stretch {
  justify-content: flex-end;
  align-items: stretch; }

.fx-end-baseline {
  justify-content: flex-end;
  align-items: baseline; }

.fx-start-center {
  justify-content: flex-start;
  align-items: center; }

.fx-start-start {
  justify-content: flex-start;
  align-items: flex-start; }

.fx-start-end {
  justify-content: flex-start;
  align-items: flex-end; }

.fx-start-stretch {
  justify-content: flex-start;
  align-items: stretch; }

.fx-start-baseline {
  justify-content: flex-start;
  align-items: baseline; }

.fx-between-center {
  justify-content: space-between;
  align-items: center; }

.fx-between-start {
  justify-content: space-between;
  align-items: flex-start; }

.fx-between-end {
  justify-content: space-between;
  align-items: flex-end; }

.fx-between-stretch {
  justify-content: space-between;
  align-items: stretch; }

.fx-between-baseline {
  justify-content: space-between;
  align-items: baseline; }

.fx-around-center {
  justify-content: space-around;
  align-items: center; }

.fx-around-start {
  justify-content: space-around;
  align-items: flex-start; }

.fx-around-end {
  justify-content: space-around;
  align-items: flex-end; }

.fx-around-stretch {
  justify-content: space-around;
  align-items: stretch; }

.fx-around-baseline {
  justify-content: space-around;
  align-items: baseline; }

.fx-wrap-center {
  flex-wrap: wrap;
  align-content: center; }

.fx-wrap-rvs-center {
  flex-wrap: wrap-reverse;
  align-content: center; }

.fx-wrap-end {
  flex-wrap: wrap;
  align-content: flex-end; }

.fx-wrap-rvs-end {
  flex-wrap: wrap-reverse;
  align-content: flex-end; }

.fx-wrap-start {
  flex-wrap: wrap;
  align-content: flex-start; }

.fx-wrap-rvs-start {
  flex-wrap: wrap-reverse;
  align-content: flex-start; }

.fx-wrap-between {
  flex-wrap: wrap;
  align-content: space-between; }

.fx-wrap-rvs-between {
  flex-wrap: wrap-reverse;
  align-content: space-between; }

.fx-wrap-around {
  flex-wrap: wrap;
  align-content: space-around; }

.fx-wrap-rvs-around {
  flex-wrap: wrap-reverse;
  align-content: space-around; }

.fx-wrap-stretch {
  flex-wrap: wrap;
  align-content: stretch; }

.fx-wrap-rvs-stretch {
  flex-wrap: wrap-reverse;
  align-content: stretch; }

.fx-self-center {
  align-self: center; }

.fx-self-start {
  align-self: flex-start; }

.fx-self-end {
  align-self: flex-end; }

.fx-self-stretch {
  align-self: stretch; }

.fx-self-baseline {
  align-self: baseline; }